@model WebJdr.Models.Save
@{
    ViewData["Title"] = "New Game";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>


<div>
    <a asp-action="SelectStory">Sélectionner une histoire</a>
</div>
